/*Site-wide*/
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #5856D6;
    background-color: aliceblue;
}

h1 {
    font-family: 'Pacifico', sans-serif;
    color: #D95B96;
}

main {
    flex: 1 0 auto;
}

/*Nav-bar*/
#nav-logo {
    max-height: 4vh;
    margin-top: 1vh;
    padding-left: 2vh;
}

.nav-footer-background {
    background-color: #5856D6;
}

/*Footer*/
.footer-text {
    color: #ffffff !important;
    font-weight: 400;
    padding: 1vw;
}

.page-footer {
    z-index: 3 !important;
}

/*Hero-slider*/
.slider {
    max-height: 100vh !important;
    z-index: 1 !important;
    position: relative;
}

.slides {
    height: 90vh !important;
    z-index: 2 !important;
}

/*Cards*/
.card_buttons {
    margin: 5px;
    background-color: #5bd9b5;
    color: #5856D6;
}

.card {
    background-color: #5856D6;
}

.card-title {
    color: aliceblue;
}

.card-title:active {
    color: aliceblue;
}

.card-title:hover {
    color: #f2cb05;
}

.card-panel {
    background-color: #D5EDF2;
}

/*Buttons*/
.add-btn {
    background-color: #5bd9b5;
    color: #5856D6;
    margin: 5px;
}

.edit-btn {
    background-color: #f2cb05;
    color: #5856D6;
    margin: 5px;
}

.edit-btn:hover {
    background-color: #f29305;
}

.delete-btn {
    background-color: #D95B96;
    margin: 5px;
}

.delete-btn:hover {
    background-color: #c93a7d;
}

.purple-btns {
    background-color: #5856D6;
    margin: 5px;
}

/*Forms*/
.input-text {
    color: #5856D6 !important;
    font-size: large !important;
}

/*Collapsible recipes*/
.collapsible-header {
    background-color: #c93a7d;
    color: aliceblue;
}


/*Media Queries*/
@media screen and (max-width: 1050px) {}

@media screen and (max-width: 991px) {
    #nav-logo {
        margin: 12px;
        padding-left: 0vh;
    }
}

@media screen and (max-width: 767px) {
    #nav-logo {
        max-height: 5vh;
    }

    h3 {
        font-size: 2.5em;

    }

    h5 {
        font-size: 1.5em;

    }



}

@media screen and (max-width: 360px) {

    h1 {
        font-size: 3em;
    }

    .slides {
        height: 95vh !important;
        z-index: 2 !important;
    }

    h3 {
        font-size: 2em;
    }

    h5 {
        font-size: 1em;
    }

}