/*Site-wide*/
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #5856D6;
    background-color: aliceblue;
}

h1 {
    font-family: 'Pacifico', sans-serif;
    color: #D95B96;
}

main {
    flex: 1 0 auto;
}

/*Nav-bar*/
#nav-logo {
    height: 3vh;
    margin: auto;
    padding-left: 2vh;
}

.nav-footer-background {
    background-color: #5856D6;
}

/*Footer*/
.footer-text {
    color: #ffffff!important;
    font-weight: 400;
    padding: 1vw;
}

.page-footer {
    z-index: 3 !important;
}

/*Hero-slider*/
.slider {
    max-height: 100vh!important;
    z-index: 1 !important;
    position: relative;
}

.slides {
    height: 90vh !important;
    z-index: 2 !important;
}

/*Cards*/
.card_buttons {
    margin: 5px;
    background-color: #5bd9b5;
    color: #5856D6;
}

.card {
    background-color: #5856D6;
}

.card-title {
    color:aliceblue;
}

.card-title:active {
    color:aliceblue;
}

.card-title:hover {
    color: #f2cb05;
}

.card-panel {
    background-color: #D5EDF2;
}

/*Buttons*/
.add-btn {
    background-color: #5bd9b5;
    color: #5856D6;
    margin: 5px;
}

.edit-btn {
    background-color: #f2cb05;
    color: #5856D6;
    margin: 5px;
}

.edit-btn:hover {
    background-color: #f29305;
}

.delete-btn {
    background-color: #D95B96;
    margin: 5px;
}

.delete-btn:hover {
    background-color: #c93a7d;
}

.purple-btns {
    background-color: #5856D6;
    margin: 5px;
}

/*Forms*/
.input-text {
    color: #5856D6!important;
    font-size: large!important;
}

/*Collapsible recipes*/
.collapsible-header{
    background-color: #c93a7d;
    color: aliceblue;
}