body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #5856D6;
    background-color: aliceblue;
}

h1 {
    font-family: 'Pacifico', sans-serif;
    color: #f2cb05;
}

#nav-logo {
    height: 5vh;
    margin: 1vh;
}

.nav-footer-background {
    background-color: #5856D6;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 100%;
}


.carousel {
    height: 50vh;
}

.card_buttons {
    margin: 5px;
    background-color: #5bd9b5;
    color: #5856D6;
}

.caption {
    background-color: rgba(rgb(31, 32, 33, 1));

}

.card {
    background-color: #5856D6;
}

.card-title {
    color:aliceblue;
}

.card-title:active {
    color:aliceblue;
}

.card-title:hover {
    color: #f2cb05;
}

.add-btn {
    background-color: #5bd9b5;
    color: #5856D6;
    margin: 5px;
}

.edit-btn {
    background-color: #f2cb05;
    color: #5856D6;
    margin: 5px;
}

.edit-btn:hover {
    background-color: #f29305;
}

.delete-btn {
    background-color: #D95B96;
    margin: 5px;
}

.delete-btn:hover {
    background-color: #c93a7d;
}

.card-panel {
    background-color: #D5EDF2;
}

.input-text {
    color: #5856D6!important;
    font-size: large!important;
}

.collapsible-header{
    background-color: #c93a7d;
    color: aliceblue;
}

.purple-btns {
    background-color: #5856D6;
    margin: 5px;
}

.footer-text {
    color: #ffffff!important;
    font-weight: 400;
    padding: 1vw;
}