{% extends "base.html" %}
{% block content %}
<h1>Create a new recipe</h1>
<br>
<div class="row card-panel">
    <!-- Materialize Form -->
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <!--Recipe Name-->
        <div class="row">
            <div class="input-field col s12">
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="100" type="text" class="validate" required>
                <label for="recipe_name" class="input-text">Recipe Name</label>
            </div>
        </div>
        <!--Recipe Ingredients-->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5" maxlength="1000"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_ingredients" class="input-text">Recipe Ingredients</label>
            </div>
        </div>
        <!--Recipe Instructions-->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="recipe_instructions" name="recipe_instructions" minlength="5" maxlength="1000"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_instructions" class="input-text">Recipe Instructions</label>
            </div>
        </div>
        <!-- Materialize Dropdowns -->
        <!--Dish Origin-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-earth-americas prefix"></i>
                <select id="dish_origin" name="dish_origin" class="validate" required>
                    <option value="" disabled selected>Choose a dish origin</option>
                    <option value="European">European</option>
                    <option value="North American">North American</option>
                    <option value="South American">South American</option>
                    <option value="Asian">Asian</option>
                    <option value="African">African</option>
                    <option value="Australian">Australian</option>
                    <option value="Antarctican">Antarctican</option>
                </select>
            </div>
        </div>
        <!--Star Rating-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-star prefix"></i>
                <select id="star_rating" name="star_rating" class="validate" required>
                    <option value="" disabled selected>Choose a rating out of 5</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <!--Meal Type-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-drumstick-bite prefix"></i>
                <select id="meal_type" name="meal_type" class="validate" required>
                    <option value="" disabled selected>Choose a meal type</option>
                    <option value="Starter">Starter</option>
                    <option value="Main">Main</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Snack">Snack</option>
                </select>
            </div>
        </div>
        <!-- Cookbook ID -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-book prefix"></i>
                <select id="cookbook_id" name="cookbook_id" class="validate" required>
                    <option value="" disabled selected>Choose Cookbook</option>
                    {% for cookbook in cookbook %}
                    <option value="{{ cookbook.id }}">{{ cookbook.cookbook_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large purple-btns">
                    <i class="fa-solid fa-pencil"></i> Create Recipe
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}