{% extends "base.html" %}
{% block content %}
<h1>{{ cookbook.cookbook_name }} Recipe</h1>

<div class="row card-panel grey lighten-2">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <!--Recipe Name-->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Add a name for your recipe" id="recipe_name" name="recipe_name" maxlength="100"
                    type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!--Recipe Ingredients-->
        <div class="row">
            <div class="input-field col s12">
                <textarea placeholder="Add a list of ingredients for your recipe" id="recipe_ingredients"
                    name="recipe_ingredients" minlength="5" maxlength="1000" type="text"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_ingredients">Recipe Ingredients</label>
            </div>
        </div>
        <!--Recipe Instructions-->
        <div class="row">
            <div class="input-field col s12">
                <textarea placeholder="Add a list of instructions for your recipe" id="recipe_instructions"
                    name="recipe_instructions" minlength="5" maxlength="1000" type="text"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_instructions">Recipe Instructions</label>
            </div>
        </div>
        <!--Dish Origin-->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Add an origin for your recipe" id="dish_origin" name="dish_origin" minlength="3"
                    maxlength="25" type="text" class="validate" required>
                <label for="dish_origin">Dish Origin</label>
            </div>
        </div>
        <!--Star Rating-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="star_rating" name="star_rating" class="validate" required>
                    <option value="" disabled selected>Choose a rating out of 5</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="star_rating">Star Rating</label>
            </div>
        </div>
        <!--Meal Type-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="meal_type" name="meal_type" class="validate" required>
                    <option value="" disabled selected>Choose a meal type</option>
                    <option value="Starter">Starter</option>
                    <option value="Main">Main</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Snack">Snack</option>
                </select>
                <label for="star_rating">Meal Type</label>
            </div>
        </div>

        <!-- Cookbook ID -->

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="cookbook_id" name="cookbook_id" class="validate" required>
                    <option value="" disabled selected>Choose Cookbook</option>
                    {% for cookbook in cookbook %}
                    <option value="{{ cookbook.id }}">{{ cookbook.cookbook_name }}</option>
                    {% endfor %}
                </select>
                <label for="cookbook_id">Cookbooks</label>
            </div>
        </div>

        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Create Recipe
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}