{% extends "base.html" %}
{% block content %}
<h1>{{ cookbook.cookbook_name }}Edit Recipe</h1>

<div class="row card-panel ">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
        <!--Recipe Name-->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="edit a name for your recipe" value="{{ recipe.recipe_name }}" id="recipe_name"
                    name="recipe_name" maxlength="25" type="text" class="validate" required>
                <label class="input-text" for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!--Recipe Ingredients-->
        <div class="row">
            <div class="input-field col s12">
                <textarea placeholder="Edit list of ingredients for your recipe" id="recipe_ingredients"
                    name="recipe_ingredients" minlength="5" maxlength="500" class="materialize-textarea validate"
                    required>
                    {{- recipe.recipe_ingredients -}}
                </textarea>
                <label class="input-text" for="recipe_ingredients">Recipe Ingredients</label>
            </div>
        </div>
        <!--Recipe Instructions-->
        <div class="row">
            <div class="input-field col s12">
                <textarea placeholder="Edit list of instructions for your recipe" id="recipe_instructions"
                    name="recipe_instructions" minlength="5" maxlength="750" class="materialize-textarea validate"
                    required>
                    {{- recipe.recipe_instructions -}}
                </textarea>
                <label class="input-text" for="recipe_instructions">Recipe Instructions</label>
            </div>
        </div>
        <!--Dish Origin-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-earth-americas prefix"></i>
                <select id="dish_origin" name="dish_origin" class="validate" required>
                    <option value="" disabled>Choose a dish origin</option>
                    <option value="European">European</option>
                    <option value="North American">North American</option>
                    <option value="South American">South American</option>
                    <option value="Asian">Asian</option>
                    <option value="African">African</option>
                    <option value="Australian">Australian</option>
                    <option value="Antarctican">Antarctican</option>
                </select>
                <label class="input-text" for="dish_origin">Dish Origin</label>
            </div>
        </div>
        <!--Star Rating-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-star prefix"></i>
                <select id="star_rating" name="star_rating" class="validate" required>
                    <option value="" disabled>Choose a rating out of 5</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label class="input-text" for="star_rating">Star Rating</label>
            </div>
        </div>

        <!--Meal Type-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-drumstick-bite prefix"></i>
                <select id="meal_type" name="meal_type" class="validate" required>
                    <option value="" disabled>Choose a meal type</option>
                    <option value="Starter">Starter</option>
                    <option value="Main">Main</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Snack">Snack</option>
                </select>
                <label class="input-text" for="meal_type">Meal Type</label>
            </div>
        </div>

        <!-- Cookbook ID -->

        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-book prefix"></i>
                <select id="cookbook_id" name="cookbook_id" class="validate" required>
                    <option value="" disabled>Choose Cookbook</option>
                    {% for cookbook in cookbook %}
                    {% if cookbook == recipe.coobook %}
                    <option value="{{ cookbook.id }}" selected>{{ cookbook.cookbook_name }}</option>
                    {% else %}
                    <option value="{{ cookbook.id }}">{{ cookbook.cookbook_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label class="input-text" for="cookbook_id">Cookbook</label>
            </div>
        </div>

        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large purple-btns">
                    <i class="fa-solid fa-floppy-disk"></i> Update Recipe
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}