{% extends "base.html" %}

{% block content %}
<!-- Materialize Slider -->
<div class="slider">
    <ul class="slides">
        <li>
            <img alt="selection of colourful salad bowls" src="{{ url_for('static', filename='assets/site-images/hero-image-4.webp') }}">
            {% if session.user %}
            <div class="caption center-align">
                <h1>Welcome back!</h1>
                <h5 class="light grey-text text-lighten-3">Go to your dashboard to get straight back to your favourite recipes.</h5>
                <div class="row center-align">
                    <div class="col s12">
                        <a href="{{ url_for('dashboard') }}" aria-label="Link to user dashboard page" class="purple-btns btn-large">Dashboard</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="caption center-align">
                <h1>Welcome to Instacook</h1>
                <h5 class="light grey-text text-lighten-3">Create digital cookbooks to store your favourite recipes
                    in.</h5>
                <div class="row center-align">
                    <div class="col s12">
                        <a href="{{ url_for('register') }}" aria-label="Link to register page" class="purple-btns btn-large">Register</a>
                        <a href="{{ url_for('login') }}" aria-label="Link to login page" class="purple-btns btn-large">Log In</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </li>
        <li>
            <img alt="ice cream in a dark bowl" src="{{ url_for('static', filename='assets/site-images/hero-image-3.webp') }}">
            <div class="caption left-align">
                <h3>Looking for inspiration?</h3>
                <h5 class="light grey-text text-lighten-3">Search through recipes other users have created.</h5>
                <div class="row left-align">
                    <div class="col s12">
                        <a href="{{ url_for('search') }}" aria-label="Link to search recipes page" class="purple-btns btn-large">Explore Recipes</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img alt="noodles and vegetable bowls" src="{{ url_for('static', filename='assets/site-images/hero-image-2.webp') }}">
            {% if session.user %}
            <div class="caption center-align">
                <h1>Your recipes await!</h1>
                <h5 class="light grey-text text-lighten-3">Go to your dashboard to get straight back to your favourite recipes.</h5>
                <div class="row center-align">
                    <div class="col s12">
                        <a href="{{ url_for('dashboard') }}" aria-label="Link to dashboard page" class="purple-btns btn-large">Dashboard</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="caption right-align">
                <h3>Have an account already?</h3>
                <h5 class="light grey-text text-lighten-3">Login below.</h5>
                <div class="row right-align">
                    <div class="col s12">
                        <a href="{{ url_for('login') }}" aria-label="Link to login page" class="purple-btns btn-large">Login</a>
                    </div>
                </div>
            </div>            
            {% endif %}
        </li>
    </ul>
</div>

{% endblock %}