{% extends "base.html" %}
{% block content %}
<h1>Recipes</h1>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-large light-blue darken-2">
            <i class="material-icons"></i>Add Recipe
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            <strong>{{ recipe.recipe_name}}</strong> : {{ recipe.star_rating }}
        </div>
        <div class="collapsible-body">
            <span>
                <p><strong>Dish Origin: </strong>{{ recipe.dish_origin }}</p>
                <p><strong>Ingredients:</strong>
                    <br>
                    {% autoescape false %}
                    {{ recipe.recipe_ingredients | replace("\n", "<br/>") }}
                    {% endautoescape %}
                </p>
                <p><strong>Instructions:</strong>
                    <br>{% autoescape false %}
                    {{ recipe.recipe_instructions | replace("\n", "<br/>") }}
                    {% endautoescape %}</p>
                <p>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn green accent-4">Edit</a>
                    <a href="#modal-{{ recipe.id }}" class="btn red modal-trigger">Delete</a>
                </p>

                <!-- Modal Structure -->
                <div id="modal-{{ recipe.id }}" class="modal">
                    <div class="modal-content">
                        <h4>Are you sure you want to delete this recipe?</h4>
                        <p>This action cannot be undone</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        <a href="#modal-close" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                    </div>
                </div>
            </span></div>
    </li>
    {% endfor %}
</ul>

{% endblock %}