{% extends "base.html" %}
{% block content %}
<h1>Recipes</h1>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-large light-blue darken-2">
            <i class="material-icons">Add Recipe</i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            <strong>{{ recipe.recipe_name}}</strong> : {{ recipe.star_rating }}
        </div>
        <div class="collapsible-body">
            <span>
                <p><strong>Dish Origin: </strong>{{ recipe.dish_origin }}</p>
                <p><strong>Ingredients:</strong>
                    <br>
                    {% autoescape false %}
                    {{ recipe.recipe_ingredients | replace("\n", "<br/>") }}
                    {% endautoescape %}
                </p>
                <p><strong>Instructions:</strong>
                    <br>{% autoescape false %}
                    {{ recipe.recipe_instructions | replace("\n", "<br/>") }}
                    {% endautoescape %}</p>
            </span></div>
    </li>
    {% endfor %}
</ul>

{% endblock %}