{% extends "base.html" %}
{% block content %}
<script>
    function updateQueryParams(key, value) {
        const url = new URL(window.location);
        if (value === 'All') {
            url.searchParams.delete(key)
        } else {
            url.searchParams.set(key, value)
        }
        window.location = url.toString()
    }
</script>
<h1>Search</h1>

<div class="row">
    <h5>Explore and filter all recipes with the drop down boxes below.</h5>
</div>

<!-- Dropdown filters -->
<div class="row">
    <div class="row">
        <div class="input-field col l3 m6 s12">
            <i class="fa-solid fa-drumstick-bite prefix"></i>
            <select id="meal_type" name="meal_type" class="validate"
                onchange="updateQueryParams('meal_type', event.target.value)">
                <option value="" disabled selected>{{ selected_meal_type }}</option>
                <option value="Starter">Starter</option>
                <option value="Main">Main</option>
                <option value="Dessert">Dessert</option>
                <option value="Snack">Snack</option>
            </select>
            <label for="meal_type">Meal Type</label>
        </div>
        <div class="input-field col l3 m6 s12">
            <i class="fa-solid fa-earth-americas prefix"></i>
            <select id="dish_origin" name="dish_origin" class="validate"
                onchange="updateQueryParams('dish_origin', event.target.value)">
                <option value="" disabled selected>{{ selected_dish_origin }}</option>
                <option>All</option>
                {% for dish_origin in dish_origins %}
                <option>{{ dish_origin }}</option>
                {% endfor %}
            </select>
            <label for="dish_origin">Dish Origin</label>
        </div>
        <div class="input-field col l3 m6 s12">
            <i class="fa-solid fa-star prefix"></i>
            <select id="star_rating" name="star_rating" class="validate"
                onchange="updateQueryParams('star_rating', event.target.value)">
                <option value="" disabled selected>{{ selected_star_rating }}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="star_rating">Star Rating</label>
        </div>
        <div class="input-field col l3 m6 s12 center-align">
            <a class="btn purple-btns" href="{{ url_for('search') }}">Clear Selection</a>
        </div>
    </div>
</div>

<!-- Show filtered recipes -->
<div class="row">
    <div class="col s12">
        <ul class="collapsible">
            {% for recipe in recipes %}
            <li>
                <div class="collapsible-header">
                    <p>
                        <i class="fa-solid fa-clipboard"></i>
                        <strong>{{ recipe.recipe_name }} </strong> : <strong> {{ recipe.star_rating }} </strong> star
                        rating
                    </p>
                </div>
                <div class="collapsible-body">
                    <span>
                        <p><strong>Dish Origin: </strong>{{ recipe.dish_origin }}</p>
                        <p><strong>Meal Type: </strong>{{ recipe.meal_type }}</p>
                        <p><strong>Ingredients:</strong>
                            <br>
                            {% autoescape false %}
                            {{ recipe.recipe_ingredients | replace("\n", "<br/>") }}
                            {% endautoescape %}
                        </p>
                        <p><strong>Instructions:</strong>
                            <br>{% autoescape false %}
                            {{ recipe.recipe_instructions | replace("\n", "<br/>") }}
                            {% endautoescape %}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}